body{
	background-image: linear-gradient(167.46deg, $color-primary -8.65%, $color-secondary 79.26%);
	width: 100%;
	min-height: 100vh;
	padding-top: 75px;
}

.row.list-todo{
	border-bottom: 1px solid #ddd;
	padding: 10px 0px;
}