.btn{
	&.btn-tab{
		width: 50%;
		text-align: center;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		padding: 10px;
		font-weight: bold;
	    color: $color-white;

		&.active{
	    	background: $color-white;
	    	color: $color-black;
	    }

	    &:focus{
	    	box-shadow: none;
	    }
	}
}